/*
    Custom CSS for Bootstrap
*/

body-content {
}

.navbar-expand-md {
    margin-top: 15px;
    border-radius: 0;
    margin-bottom: -23px;
}

.logo {
    margin-top: -10px;
}

.home-banner {
    width: 100%;
    height: 400px;
}

.footer {
    text-align: center;
}