<?xml version="1.0"?>
<configuration>

  <!-- Access to general Manage page -->
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!-- Admin -->
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Teller -->
  <location path="Teller">
    <system.web>
      <authorization>
        <allow roles="Teller"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- Customer -->
  <location path="Customer">
    <system.web>
      <authorization>
        <allow roles="Customer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
